@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    /* ### Primary */
    --gradient: linear-gradient(to right, hsl(249, 99%, 64%) 0%, hsl(278, 94%, 30%) 100%);
    --red: hsl(0, 100%, 66%);

    /* ### Neutral */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    /* border: 1px solid red; */
    font-family: 'Space Grotesk',
        sans-serif;
    min-width: 375px;
    background-color: var(--white);
}



.container {
    /* border: 2px solid red; */
    margin: 0 auto;
    min-width: 375px;
    max-width: 600px;
    padding: 0 10px;
    /* overflow: hidden; */
}



.contenedor {
    /* border: 1px solid red; */
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}



img {
    max-width: 100%;
}

header {
    position: relative;
    background-image: url('./images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 32vh;

}



header .cc-front {
    z-index: 10000;
    position: absolute;
    top: 155px;
    right: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 288px;
    height: 158px;
    padding: 20px;
    color: var(--white);
    font-size: 16px;
    border-radius: 10px;
    /* border: 1px solid red; */
    box-shadow: 4px 3px 25px -10px rgba(0, 0, 0, 1);


}



header .cc-front .logo {
    width: 60px;
}

header .cc-front .card-number {
    margin-top: 15px;
}

header .cc-front .name {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}

header .cc-front .card-date {
    font-size: 15px;

}

header .cc-back {
    z-index: 900;
    position: absolute;
    left: 19%;
    top: 40px;
    background-image: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--white);
    width: 295px;
    height: 170px;
    border-radius: 10px;
    box-shadow: 4px 3px 25px -10px rgba(0, 0, 0, 1);
}



header .cc-back p {
    position: relative;
    left: 80%;
    top: 43%;
    font-size: 14px;
}

/* MAIN */
main {
    position: relative;
    height: 68vh;
    position: relative;
    z-index: 1;
    width: 100%;
}

main form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    width: 100%;
    height: auto;
    padding: 0 20px;
    font-size: 14px;
    /* border: 1px solid red; */
}

main form .ready {
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    opacity: 0;
    transition: all .3 ease-in;
    /* border: 1px solid red; */
}

main form .ready button {
    border-radius: 10px;
    padding: 20px 10px;
    width: 90%;
}

main form .ready>* {
    padding-bottom: 40px;
}

main form .ready p {
    color: var(--dark-grayish-violet);
    font-size: 18px;
}

main form .ready h2 {
    letter-spacing: 5px;
    font-size: 26px;
}

main form label {
    cursor: pointer;
}

main form .number-error {
    display: none;
    color: var(--red);
    margin-bottom: 20px;
}

main form .date-error {
    /* display: none; */
    opacity: 0;
    color: var(--red);
    margin-bottom: 20px;
}


main form .cvc-error {
    /* display: none; */
    opacity: 0;
    color: var(--red);
    margin-bottom: 20px;
}

main form .form-error {
    display: none;
    color: var(--red);
}

/* asd */
main form .form-item {
    /* padding: 10px 0; */
    margin-bottom: 15px;
    border-radius: 10px;
}

main form input,
main form button {
    padding: 20px 12px;
}

main form input {
    background-color: var(--white);
    border: 2px solid var(--light-grayish-violet);
    transition: all .3s ease-in-out;
}

main form input:focus {
    border: 2px solid var(--dark-grayish-violet);
    outline: none;
}

main form .cont-datecvc {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    /* border: 1px solid red; */
}


main form .cont-datecvc .date-cont {
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}


main form .cont-datecvc .date-cont label {
    width: 100%;

}

main form .cont-datecvc .date-cont input {
    width: 40%;
    max-width: 47%;
}

main form .cont-datecvc .date-cont .month {
    margin-left: 15px;
}

main form .cont-datecvc .cvc-cont {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

main form button {
    margin-top: 25px;
    border: none;
    background-color: var(--very-dark-violet);
    color: var(--white);
    cursor: pointer;
}



/* MEDIAQUERIES */

@media screen and (min-width: 1051px) {
    .contenedor {
        flex-direction: row;
        height: 100vh;
    }

    header {
        position: relative;
        right: 22px;
        background-image: url('./images/bg-main-desktop.png');
        height: 100vh;
        width: 500px;
        /* border: 1px solid red; */
    }

    header .cc-front {
        right: -15%;
        top: 180px;
        width: 355px;
        height: 195px;
        font-size: 20px;
    }

    header .cc-front .card-n {
        font-size: 24px;
        letter-spacing: 2px;
    }

    header .cc-front .card-name {
        font-size: 21px;
    }

    header .cc-front .card-date {
        padding-top: 3px;
        font-size: 18px;
    }

    header .cc-back {
        left: 54%;
        top: 450px;
        width: 355px;
        height: 195px;
        font-size: 20px;
    }

    header .cc-back p {
        left: 81%;
        top: 45%;
        font-size: 16px;
    }

    main form {
        position: relative;
        top: -50px;
        height: 99vh;
        justify-content: center;
        margin-left: 150px;
        margin-top: 0;
        width: 70%;
        padding: 0 auto;
    }

    main form input,
    main form button {
        padding: 15px 5px;
    }
}

/* STATE MOD */
.i-wrong {
    background-color: var(--white);
    border: 2px solid var(--red);
    transition: all .3s ease-in-out;
}

.p-wrong {
    display: block !important;
}

.p1-wrong {
    opacity: 1 !important;
    z-index: 10000 !important;
    transition: all .4s ease-in-out;
}